<h1>Edit sighting:</h1>

<%= form_for [@animal, @sighting] do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :lat %>
  <%= f.text_field :lat %>
  <%= f.label :long %>
  <%= f.text_field :long %>
  <p><%= f.submit %></p>
<% end %>
